.flatpak-builder/
com.endlessm.apps.Platform.appdata.xml
com.endlessm.apps.Sdk.appdata.xml
com.endlessm.apps.Sdk.json
org.freedesktop.Platform.Icontheme.EndlessOS.json
issue
issue.net
metadata.platform
metadata.sdk
os-release
repo/
sdk/
