{
    "build-runtime": true,
    "id": "com.endlessm.apps.Sdk",
    "id-platform": "com.endlessm.apps.Platform",
    "branch": "@@SDK_BRANCH@@",
    "runtime": "org.gnome.Platform",
    "sdk": "org.gnome.Sdk",
    "runtime-version": "@@GNOME_RUNTIME_VERSION@@",
    "sdk-extensions": [
        "org.gnome.Sdk.Debug",
        "org.gnome.Sdk.Docs",
        "org.gnome.Sdk.Locale"
    ],
    "platform-extensions": ["org.gnome.Platform.Locale"],
    "inherit-extensions": [
        "org.freedesktop.Platform.GL",
        "org.freedesktop.Platform.Timezones",
        "org.freedesktop.Platform.GStreamer",
        "org.freedesktop.Platform.Icontheme",
        "org.freedesktop.Platform.VAAPI.Intel",
        "org.freedesktop.Sdk.Extension"
    ],
    "add-extensions": {
        "org.gnome.Sdk.Docs" : {
            "version": "@@GNOME_RUNTIME_VERSION@@",
            "directory": "share/runtime/docs",
            "bundle": true,
            "autodelete": true,
            "no-autodownload": true
        }
    },
    "finish-args": [
        "--env=GI_TYPELIB_PATH=/app/lib/girepository-1.0",
        "--env=GST_PLUGIN_SYSTEM_PATH=/app/lib/gstreamer-1.0:/usr/lib/extensions/gstreamer-1.0:/usr/lib/gstreamer-1.0",
        "--env=XDG_DATA_DIRS=/app/share:/usr/share:/usr/share/runtime/share:/run/host/share",
        "--sdk=com.endlessm.apps.Sdk//@@SDK_BRANCH@@",
        "--runtime=com.endlessm.apps.Platform//@@SDK_BRANCH@@"
    ],
    "cleanup": [
        "/man",
        "/share/man",
        "/lib/systemd",
        "*.la",
        "*.a"
    ],
    "cleanup-commands": [
        "update-desktop-database",
        "/usr/libexec/freedesktop-post.sh"
    ],
    "cleanup-platform": [
        "/include",
        "/share/aclocal",
        "/share/pkgconfig",
        "/lib/pkgconfig",
        "/share/gir-1.0",
        "/share/vala"
    ],
    "cleanup-platform-commands": [
        "/usr/libexec/freedesktop-post.sh"
    ],
    "build-options": {
        "cflags": "-O2 -g",
        "cxxflags": "-O2 -g",
        "env": {
            "V": "1"
        }
    },

    "modules": [
        {
            "name": "python-polib",
            "no-autogen": true,
            "ensure-writable": ["/lib/python*/site-packages/easy-install.pth"],
            "cleanup-platform": ["*"],
            "build-options": {
                "env": {
                    "PYTHON": "/usr/bin/python3"
                }
            },
            "sources": [
                {
                    "type": "archive",
                    "url": "https://pypi.python.org/packages/fb/64/ad3dbcc052d92fedd535a80b9866a9334afaf136cb5d89a673ac36d16b5a/polib-1.0.8.tar.gz#md5=4e7c8a8e6851279ebb7c5813ca48d452",
                    "sha256": "5affe3d915eb5b4773f4ce164817e383eea0306115cdaf9b64008b3aea8202df"
                },
                {
                    "type": "file",
                    "path": "polib-makefile",
                    "dest-filename": "Makefile"
                }
            ]
        },
        {
            "name": "python-dbus",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --no-index --find-links \"file://${PWD}\" dbus-python"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/ad/1b/76adc363212c642cabbf9329457a918308c0b9b5d38ce04d541a67255174/dbus-python-1.2.4.tar.gz",
                    "sha256": "e2f1d6871f74fba23652e51d10873e54f71adab0525833c19bad9e99b1b2f9cc"
                }
            ]
        },
        {
            "name": "python-dbusmock",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --no-index --find-links \"file://${PWD}\" python-dbusmock"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/4d/cd/a5f571ef37addb45a86eca2e66a6b4789d915dbb9170a997dba02b7a0a89/python-dbusmock-0.17.tar.gz",
                    "sha256": "58f802ef4c659a1adbca31eb6c26688f1c09599b5832354eb258340b66673346"
                }
            ]
        },
        {
            "name": "libyaml",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/yaml/libyaml/archive/0.1.7.tar.gz",
                    "sha256": "e1884d0fa1eec8cf869ac6bebbf25391e81956aa2970267f974a9fa5e0b968e2"
                }
            ]
        },
        {
            "name": "python3-pyyaml",
            "no-autogen": true,
            "build-options": {
                "env": {
                    "PYTHON": "/usr/bin/python3"
                }
            },
            "sources": [
                {
                    "type": "archive",
                    "url": "http://pyyaml.org/download/pyyaml/PyYAML-3.12.tar.gz",
                    "sha256": "592766c6303207a20efc445587778322d7f73b161bd994f227adaa341ba212ab"

                },
                {
                    "type": "file",
                    "path": "setuptools-makefile",
                    "dest-filename": "Makefile"
                }
            ]
        },
        {
            "name": "tcl",
            "no-autogen": true,
            "cleanup": ["*"],
            "builddir": false,
            "subdir": "unix",
            "config-opts": [
                "--disable-symbols"
            ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://sunsite.icm.edu.pl/pub/programming/tcl/tcl8_6/tcl8.6.6-src.tar.gz",
                    "sha256": "a265409781e4b3edcc4ef822533071b34c3dc6790b893963809b9fe221befe07"
                },
                {
                    "type": "patch",
                    "path": "tcl-no-docs.patch"
                }
            ],
            "post-install": [
                "chmod 0755 /usr/lib/libtcl8.6.so",
                "ln -sfr /usr/bin/tclsh8.6 /usr/bin/tclsh"

            ]
        },
        {
            "name": "eos-metrics",
            "config-opts": [
                "--disable-gtk-doc",
                "--disable-gir-doc"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-metrics",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "xapian-core",
            "builddir": false,
            "build-options": {
                "config-opts": [
                    "--enable-maintainer-mode",
                    "--disable-documentation"
                ],
                "arch": {
                    "arm": {
                        "cxxflags": "-O2 -g -Wno-error=cast-align"
                    }
                }
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://git.xapian.org/xapian",
                    "commit": "e63954f12c82eaa51e9b7832de7f5ae302eb2a28"
                },
                {
                    "type": "shell",
                    "commands": [ "./bootstrap --download-tools=never xapian-core" ]
                }
            ]
        },
        {
            "name": "xapian-glib",
            "buildsystem": "meson",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/xapian-glib",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "jasmine-gjs",
            "cleanup-platform": ["*"],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/ptomato/jasmine-gjs"
                }
            ]
        },
        {
            "name": "eos-sdk",
            "build-options": {
                "env": {
                    "PYTHON": "python3"
                },
                "config-opts": [
                    "--disable-gtk-doc",
                    "--disable-gir-doc",
                    "--disable-js-doc",
                    "--disable-webhelper"
                ]
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-sdk",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "libsass",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/sass/libsass/archive/3.4.4.tar.gz",
                    "sha256": "1dc4d49a9a53b891b7e98935709e625f1d68782d87aef4304a41e6d590abb480"
                },
                {
                    "type": "shell",
                    "commands": [ "autoreconf --verbose --force --install" ]
                }
            ]
        },
        {
            "name": "sassc",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/sass/sassc/archive/3.4.2.tar.gz",
                    "sha256": "ad805f2d404d17cf2980c8079a7413cd58d2f2085120167997b85420a722e079"
                },
                {
                    "type": "shell",
                    "commands": [ "autoreconf --verbose --force --install" ]
                }
            ]
        },
        {
            "name": "eos-shard",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-shard.git",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "libdmodel",
            "buildsystem": "meson",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/libdmodel.git",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "basin",
            "cleanup-platform": [
                "/bin/basin",
                "/bin/basin-helper",
                "/bin/basin-processor",
                "/share/basin"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/basin.git",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "mathjax-js",
            "no-autogen": true,
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/mathjax/MathJax/archive/2.4.0.tar.gz",
                    "sha256": "cd7175e1e352793942a976bf40692b954b5169bd28533921a8a8dd4ec865d855"
                },
                {
                    "type": "file",
                    "path": "mathjax-makefile",
                    "dest-filename": "Makefile"
                }
            ]
        },
        {
            "name": "appstream",
            "builddir": true,
            "buildsystem": "cmake",
            "build-options": {
                "config-opts": [
                    "-DCMAKE_INSTALL_LIBDIR=/usr/lib",
                    "-DQT=OFF",
                    "-DAPT_SUPPORT=ON",
                    "-DVAPI=OFF",
                    "-DSTEMMING=OFF"
                ]
            },
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/ximion/appstream/archive/APPSTREAM_0_10_4.tar.gz",
                    "sha256": "0f506ef1146d2bc96c9215368de7e3248a110f4a8b90c6cc80cfe058e9abe33e"
                },
                {
                    "type": "patch",
                    "path": "endless-appstream-cache.patch"
                },
                {
                    "type": "patch",
                    "path": "endless-appstream-no-docs.patch"
                }
            ]
        },
        {
            "name": "emeus",
            "buildsystem": "meson",
            "builddir": true,
            "build-options": {
                "config-opts": [
                    "--libdir=/usr/lib",
                    "-Denable-gtk-doc=false"
                ]
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/emeus.git",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "maxwell",
            "buildsystem": "meson",
            "builddir": true,
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/maxwell.git",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "popplerdata",
            "no-autogen": true,
            "make-install-args": ["prefix=/usr"],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://poppler.freedesktop.org/poppler-data-0.4.8.tar.gz",
                    "sha256": "1096a18161f263cccdc6d8a2eb5548c41ff8fcf9a3609243f1b6296abdf72872"
                }
            ]
        },
        {
            "name": "poppler",
            "config-opts": [ "--enable-libopenjpeg=none"],
            "cleanup": [ "/bin" ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://poppler.freedesktop.org/poppler-0.59.0.tar.xz",
                    "sha256": "a3d626b24cd14efa9864e12584b22c9c32f51c46417d7c10ca17651f297c9641"
                }
            ]
        },
        {
            "name": "evince",
            "config-opts": [ "--disable-nautilus", "--enable-introspection" ],
            "cleanup": [ "/bin" ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://download.gnome.org/sources/evince/3.26/evince-3.26.0.tar.xz",
                    "sha256": "79567bdb743cf0c3ed7b638da32afc9b850298f9b4edd532455df4a7e2a4c9d8"
                }
            ]
        },
        {
            "name": "python3-lxml",
            "no-autogen": true,
            "cleanup-platform": ["*"],
            "ensure-writable": ["/lib/python*/site-packages/easy-install.pth"],
            "build-options": {
                "cflags": "-I/usr/include",
                "env": {
                    "XSLT_CONFIG": "pkg-config libxslt",
                    "XML2_CONFIG": "pkg-config libxml-2.0"
                }
            },
            "sources": [
                {
                    "type": "archive",
                    "url": "https://pypi.python.org/packages/20/b3/9f245de14b7696e2d2a386c0b09032a2ff6625270761d6543827e667d8de/lxml-3.8.0.tar.gz",
                    "sha256": "736f72be15caad8116891eb6aa4a078b590d231fdc63818c40c21624ac71db96"
                },
                {
                    "type": "file",
                    "path": "setuptools-makefile",
                    "dest-filename": "Makefile"
                },
                {
                    "type": "patch",
                    "path": "lxml-Fix-getting-lib-version-when-using-pkg-config.patch"
                }
            ]
        },
        {
            "name": "hotdoc",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --no-index --find-links \"file://${PWD}\" hotdoc"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/f6/f7/875e23067652488ae40603336fdd63510a1e1853672b5b829a78452fd31c/toposort-1.4.tar.gz",
                    "sha256": "c190b9d9a9e53ae2835f4d524130147af601fbd63677d19381c65067a80fa903"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/b1/94/311326207d43dd0bcc7c98b9abef223a38841d2baf1a3bb53b09b7f5f625/SQLAlchemy-1.2.1.tar.gz",
                    "sha256": "9ede7070d6fd18f28058be88296ed67893e2637465516d6a596cd9afea97b154"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/b1/67/7f0a14a4cc9bd949b8d22383c26fec83a00e7bd428e15c697f998e3e37ba/wheezy.template-0.1.167.tar.gz",
                    "sha256": "a2ee933452f0352fb8587d79bf6fc66dbf3a14779ef7d17b9fa75e80c0003f19"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/ad/fd/07c85c70803465df171340d88b12b7f41f5181777053a5cd8d75ce2f4b89/schema-0.6.7.tar.gz",
                    "sha256": "410f44cb025384959d20deef00b4e1595397fa30959947a4f0d92e9c84616f35"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/48/69/d87c60746b393309ca30761f8e2b49473d43450b150cb08f3c6df5c11be5/appdirs-1.4.3.tar.gz",
                    "sha256": "9e5896d1372858f8dd3344faf4e5014d21849c756c8d5701f78f8a103b372d92"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/0b/8e/07d19b56d5e4fc79d86f2dff69674841c8dec30a008dbda36d0d2dbc6e50/hotdoc-0.8.92.tar.gz",
                    "sha256": "b9c7141ae71696e5da11974e2b012814d9cf76569a9934b184195237ada767bd"
                }
            ]
        },
        {
            "name": "hotdoc-modular-framework",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": ["pip3 install ."],
            "test-commands": ["python setup.py test"],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/hotdoc-modular-framework",
                    "branch": "master"
                }
            ]
        },
        {
            "name": "eos-hotdoc-theme",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": [],
            "sources": [
                {
                    "type": "file",
                    "url": "https://endlessm.github.io/eos-hotdoc-theme/releases/eos-hotdoc-theme-0.0.0.tar.xz",
                    "sha256": "38c0e9b4e30636fcc595e5f45504c08a912505a7c31b0d2ab1a27f0947c9b41e"
                }
            ],
            "post-install": [
                "mkdir -p /usr/share/eos-hotdoc-theme",
                "tar -C /usr/share/eos-hotdoc-theme -xJf eos-hotdoc-theme-0.0.0.tar.xz"
            ]
        },
        {
            "name": "mustache-c",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/x86-64/mustache-c.git",
                    "commit": "01f1e4732c4862071bbf07242128abf1e28cc105"
                }
            ]
        },
        {
            "name": "eos-knowledge-content-renderer",
            "buildsystem": "meson",
            "cleanup": [
                "/include/*",
                "/share/gir-1.0/*"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-knowledge-content-renderer.git",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "eos-knowledge-lib",
            "cleanup-platform": [
                "*.scss",
                "/bin/autobahn",
                "/bin/eminem",
                "/bin/introspect",
                "/bin/kermit",
                "/bin/picard"
            ],
            "build-options": {
                "config-opts": [
                    "--disable-js-doc",
                    "--disable-documentation",
                    "--with-mathjax-dir=/usr/share/javascript/mathjax"
                ],
                "env": {
                    "HOTDOC": "/usr/bin/python3 /usr/bin/hotdoc"
                }
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-knowledge-lib.git",
                    "branch": "sdk-4"
                }
            ]
        },
        {
            "name": "os-release",
            "sources": [
                {
                    "type": "file",
                    "path": "os-release"
                },
                {
                    "type": "file",
                    "path": "issue"
                },
                {
                    "type": "file",
                    "path": "issue.net"
                },
                {
                    "type": "file",
                    "path": "com.endlessm.apps.Sdk.appdata.xml"
                },
                {
                    "type": "file",
                    "path": "com.endlessm.apps.Platform.appdata.xml"
                },
                {
                    "type": "file",
                    "path": "os-release-configure",
                    "dest-filename": "configure"
                }
            ]
        }

    ]
}
